<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/main']">
      <mat-icon>dashboard</mat-icon>
      <span>My Courses</span>
    </button>
    <button mat-menu-item [routerLink]="['/new']">
      <mat-icon>add</mat-icon>
      <span>Add a new Course</span>
    </button>
  </mat-menu>
  <span>Lesson Planner</span>
  <span class="fill-remaining-space"></span>
  <span>Welcome Sara!</span>
</mat-toolbar>

<router-outlet></router-outlet>
