.spacer {
    
    flex: 1 1 auto;
  }

  .card {
      width: 600px;
      height: 450px;
      display: inline-block;
      /* background-color: aquamarine;
      color: lightslategray; */
      padding: 0;
      margin: 20px;
      vertical-align: top;
  }

  .card h1, .card h2, .card h3 {
      padding: 5px 5px 5px 24px;
      color: #FFAB00;
  }

  .cardPadding {
      padding: 10px;
  }
  .cardTitle {
      background-color: #673AB7;
      padding: 24px;
      color: whitesmoke;
  }

  .cardActions {
      text-align: right;
      display: inline-block;
      vertical-align: top;
      width: 100px;
  }

  